apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ IRODS_CSI_DRIVER_PV_NAME }}
spec:
  accessModes:
    - {{ IRODS_CSI_DRIVER_ACCESS_MODE }}
  capacity:
    storage: {{ IRODS_CSI_DRIVER_SIZE }}Gi
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: irods.csi.cyverse.org

    # Unique identifier of the volume.
    # Can be anything, but we recommend to set it to the PersistentVolume name.
    volumeHandle: {{ IRODS_CSI_DRIVER_PV_NAME }}
{% if IRODS_CSI_DRIVER_TYPE == "irodsfuse2" %}
    volumeAttributes:
      client: "irodsfuse"
      host: "{{ IRODS_CSI_HOST }}"
      port: "{{ IRODS_CSI_PORT }}"
      zone: "{{ IRODS_CSI_ZONE }}"
      path: "{{ CYVERSE_REMOTE_BASE_PATH }}"
    nodeStageSecretRef: 
      name: "irods-csi-secret"
      namespace: "{{ IRODS_CSI_DRIVER_NAMESPACE }}"
{% endif %}