globalConfig:
  secret:
    stringData:
      client: "{{ IRODS_CSI_DRIVER_TYPE }}"
      user: "{{ CYVERSE_USER }}"
      password: "{{ CYVERSE_PASS }}"
{% if IRODS_CSI_DRIVER_TYPE == "webdav" %}
      url: "{{ IRODS_CSI_WEBDAV_BASE_URL }}"
{% elif IRODS_CSI_DRIVER_TYPE == "irodsfuse" %}
      host: "{{ IRODS_CSI_HOST }}"
      port: "{{ IRODS_CSI_PORT }}"
      zone: "{{ IRODS_CSI_ZONE }}"
      path: "{{ CYVERSE_REMOTE_BASE_PATH }}"
      mountPathWhitelist: "{{ CYVERSE_REMOTE_BASE_PATH }}"
{% endif %}