apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ IRODS_CSI_DRIVER_PVC_NAME }}
spec:
  accessModes:
   - {{ IRODS_CSI_DRIVER_ACCESS_MODE }}
  resources:
    requests:
      storage: {{ IRODS_CSI_DRIVER_SIZE }}Gi
  volumeName: {{ IRODS_CSI_DRIVER_PV_NAME }}
  storageClassName: ""
