apiVersion: v1
kind: ConfigMap
metadata:
    name: mlflow-tracking-ui
data:
    basic_auth.ini: |
        [mlflow]
        default_permission = READ
        database_uri = sqlite:///basic_auth.db
        admin_username = mlflow
        admin_password = {{ MLFLOW_UI_PASSWORD }}
        authorization_function = mlflow.server.auth:authenticate_request_basic_auth
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-tracking
  labels:
    app: mlflow-tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow-tracking
  template:
    metadata:
      labels:
        app: mlflow-tracking
    spec:
      containers:
      - name: mlflow-tracking
        image: ghcr.io/mlflow/mlflow:{{ MLFLOW_VERSION }}
        env:
        - name: MLFLOW_AUTH_CONFIG_PATH
          value: /basic_auth.ini
        command: ["mlflow"]
        args:
            - "server"
            - "--backend-store-uri"
            - "sqlite:///{{ CYVERSE_HOST_MOUNT_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DBNAME }}"
            - "--default-artifact-root"
            - "{{ CYVERSE_HOST_MOUNT_DIR }}/{{ CYVERSE_REMOTE_ARTIFACT_DIR }}"
            - "--artifacts-destination"
            - "{{ CYVERSE_HOST_MOUNT_DIR }}/{{ CYVERSE_REMOTE_ARTIFACT_DIR }}"
            - "--host"
            - "0.0.0.0"
            - "--app-name"
            - "basic-auth"
#            - "--serve-artifacts"
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: basic-auth-ini
          mountPath: /basic_auth.ini
          subPath: basic_auth.ini
        - name: cyverse-volume
          mountPath: {{ CYVERSE_HOST_MOUNT_DIR }}
      initContainers:
        - name: backup
          image: alpine:latest
          command: ['sh', '-c', 'if [ -d {{ CYVERSE_HOST_MOUNT_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DBNAME }} ]; then mv {{ CYVERSE_HOST_MOUNT_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DBNAME }} {{ CYVERSE_HOST_MOUNT_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DBNAME }}.`date -u +"%y%m%d-%H%M%SZ"`; fi']
          volumeMounts:
          - name: cyverse-volume
            mountPath: {{ CYVERSE_HOST_MOUNT_DIR }}
      volumes:
      - name: basic-auth-ini
        configMap:
          name: mlflow-tracking-ui
      - name: cyverse-volume
        persistentVolumeClaim:
          claimName: {{ IRODS_CSI_DRIVER_PVC_NAME }}
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-tracking
spec:
  selector:
    app: mlflow-tracking
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
