
Your MLFlow artifact store is configured to be: {{  CYVERSE_ARTIFACT_STORE_ENABLE| ternary('cyverse', 'local') }}
Your tracking database is configured to be {{ MLFLOW_DATABASE_TYPE }}

{% if CYVERSE_ARTIFACT_STORE_ENABLE|bool %}
The cyverse location of your artifacts are {{ CYVERSE_REMOTE_BASE_PATH }}/{{ CYVERSE_REMOTE_ARTIFACT_DIR }}
{% endif %}
{% if MLFLOW_DATABASE_TYPE == 'cyverse' %}
The tracking database location is {{ CYVERSE_REMOTE_BASE_PATH }}/{{ CYVERSE_REMOTE_SQLITE_DIR }}/{{ CYVERSE_REMOTE_SQLITE_DBNAME }}
{% endif %}

Use this to access the MLFlow server:

    http://{{ hostvars[groups['k3s_masters'][0]].ansible_host }}

    username = mlflow
    password = {{ MLFLOW_UI_PASSWORD }}

To use MLFlow on the command line from a different system, use these variables.
These variables have already been loaded into your shell.

    export MLFLOW_TRACKING_URI=http://{{ hostvars[groups['k3s_masters'][0]].ansible_host }}
    export MLFLOW_TRACKING_USERNAME=mlflow
    export MLFLOW_TRACKING_PASSWORD='{{ MLFLOW_UI_PASSWORD }}'

