apiVersion: batch/v1
kind: CronJob
metadata:
  name: syncfs
spec:
  schedule: "*/2 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: syncjob
            image: alpine
            imagePullPolicy: IfNotPresent
            command: ["/bin/sh"]
            args:
            - "-c"
            - "sync"
            - "-d"
            - "{{ CYVERSE_HOST_MOUNT_DIR }}"
            volumeMounts:
            - name: cyverse-volume
              mountPath: {{ CYVERSE_HOST_MOUNT_DIR }}
          restartPolicy: Never
          volumes:
          - name: cyverse-volume
            persistentVolumeClaim:
              claimName: irods-csi-driver-pvc